.App {
}

.box {
  height: 500px;
  width: 500px;
  display: flex;
  background-color: aqua;
  flex-direction: column;
  border: 1px solid black;
}
.row {
  flex: 20%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
.square {
  flex: 25%;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
}
